In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
df_reelgood = pd.read_csv('../data/df_combined.csv')

In [3]:
df_reelgood.shape

(21292, 7)

In [4]:
df_reelgood.head(3)

,title,tv,year,rating,score_imdb,score_rotten,available_on
0,Star Wars: A New Hope,NaN,1977,7+,8.6,92%,Disney Plus
1,Star Wars: The Empire Strikes Back,NaN,1980,7+,8.7,94%,Disney Plus
2,The Lion King,NaN,1994,all,8.5,93%,Disney Plus

In [ ]:
url =